# In this notebook the region info will be added.

In [90]:
import matplotlib.pyplot as plt
import os
import pandas as pd
import sys
from time import time
import re
import datetime as dt

%matplotlib inline

%pylab inline
pylab.rcParams['figure.figsize'] = (20.0, 10.0)

%load_ext autoreload
%autoreload 2

# Constants definition
DATA_PATH = '../data/'
PROJECT_ROOT = '../'
SRC = PROJECT_ROOT + 'src/'

EXCHANGES = 'filt_rates.csv'
COUNTRY_CODES = 'filt_codes.csv'
REGIONS = 'regions_raw.csv'
CPI = 'filt_cpi.csv'

sys.path.append(SRC)

Populating the interactive namespace from numpy and matplotlib
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [91]:
codes_df = pd.read_csv(DATA_PATH + COUNTRY_CODES, index_col=0)
rates_df = pd.read_csv(DATA_PATH + EXCHANGES, index_col=0)
cpi_df = pd.read_csv(DATA_PATH + CPI, index_col=0)
regions_df = pd.read_csv(DATA_PATH + REGIONS, index_col=0)

In [92]:
print(regions_df.shape)
regions_df.head()

(263, 8)

,code,Region,IncomeGroup,TableName,SpecialNotes,Unnamed: 6,Unnamed: 7,Unnamed: 8
Country Code,,,,,,,,
ABW,NaN,Latin America & Caribbean,High income,Aruba,SNA data for 2000-2011 are updated from offici...,1994-1999 from UN databases. Base year has ch...,NaN,NaN
AFG,NaN,South Asia,Low income,Afghanistan,Fiscal year end: March 20; reporting period fo...,NaN,NaN,NaN
AGO,NaN,Sub-Saharan Africa,Lower middle income,Angola,NaN,NaN,NaN,NaN
ALB,NaN,Europe & Central Asia,Upper middle income,Albania,NaN,NaN,NaN,NaN
AND,NaN,Europe & Central Asia,High income,Andorra,WB-3 code changed from ADO to AND to align wit...,NaN,NaN,NaN

In [93]:
filt_regions_df = regions_df.dropna(subset=['code'])
print(filt_regions_df.shape)
filt_regions_df.head()

(49, 8)

,code,Region,IncomeGroup,TableName,SpecialNotes,Unnamed: 6,Unnamed: 7,Unnamed: 8
Country Code,,,,,,,,
ARE,AED,Middle East & North Africa,High income,United Arab Emirates,NaN,NaN,NaN,NaN
BGR,BGN,Europe & Central Asia,Upper middle income,Bulgaria,The new reference year for chain linked series...,NaN,NaN,NaN
BRA,BRL,Latin America & Caribbean,Upper middle income,Brazil,NaN,NaN,NaN,NaN
CAN,CAD,North America,High income,Canada,Fiscal year end: March 31,reporting period for national accounts data: CY.,NaN,NaN
CHE,CHF,Europe & Central Asia,High income,Switzerland,NaN,NaN,NaN,NaN

In [94]:
print(codes_df.shape)
codes_df.head()

(51, 2)

                 name         country
code
EUR              Euro  European Union
CYP      Cyprus Pound          Cyprus
MTL      Maltese Lira           Malta
SKK     Slovak Koruna        Slovakia
CAD   Canadian Dollar          Canada

In [95]:
rates_df.shape

(120, 51)

In [96]:
cpi_df.shape

(120, 51)

### Let's join the regions

In [97]:
filt_regions_df.set_index('code', inplace=True)
codes_df = codes_df.join(filt_regions_df, how='left')
codes_df

,name,country,Region,IncomeGroup,TableName,SpecialNotes,Unnamed: 6,Unnamed: 7,Unnamed: 8
code,,,,,,,,,
EUR,Euro,European Union,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CYP,Cyprus Pound,Cyprus,Europe & Central Asia,High income,Cyprus,A simple multiplier is used to convert the nat...,NaN,NaN,NaN
MTL,Maltese Lira,Malta,Middle East & North Africa,High income,Malta,A simple multiplier is used to convert the nat...,NaN,NaN,NaN
SKK,Slovak Koruna,Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAD,Canadian Dollar,Canada,North America,High income,Canada,Fiscal year end: March 31,reporting period for national accounts data: CY.,NaN,NaN
HKD,Hong Kong Dollar,Hong Kong,East Asia & Pacific,High income,"Hong Kong SAR, China",On 1 July 1997 China resumed its exercise of s...,NaN,NaN,NaN
CZK,Czech Koruna,Czech Republic,Europe & Central Asia,High income,Czech Republic,NaN,NaN,NaN,NaN
DKK,Danish Krone,Denmark,Europe & Central Asia,High income,Denmark,NaN,NaN,NaN,NaN
ISK,Iceland Krona,Iceland,Europe & Central Asia,High income,Iceland,NaN,NaN,NaN,NaN
ILS,New Israeli Shekel,Israel,Middle East & North Africa,High income,Israel,NaN,NaN,NaN,NaN
JPY,Japanese yen,Japan,East Asia & Pacific,High income,Japan,Fiscal year end: March 31,reporting period for national accounts data: CY.,NaN,NaN
KRW,South Korean Won,South Korea,East Asia & Pacific,High income,"Korea, Rep.",The new base year is 2010. GDP data are availa...,NaN,NaN,NaN
NOK,Norwegian Krone,Norway,Europe & Central Asia,High income,Norway,NaN,NaN,NaN,NaN
SGD,Singapore Dollar,Singapore,East Asia & Pacific,High income,Singapore,Fiscal year end: March 31,reporting period for national accounts data: ...,NaN,NaN
SEK,Swedish Krona,Sweden,Europe & Central Asia,High income,Sweden,Fiscal year end: June 30,reporting period for national accounts data: CY.,NaN,NaN
CHF,Swiss Franc,Switzerland,Europe & Central Asia,High income,Switzerland,NaN,NaN,NaN,NaN
GBP,Pound Sterling,United Kingdom,Europe & Central Asia,High income,United Kingdom,NaN,NaN,NaN,NaN
CNY,Yuan Renminbi,China,East Asia & Pacific,Upper middle income,China,On 1 July 1997 China resumed its exercise of s...,NaN,NaN,NaN
FJD,Fiji Dollar,Fiji,East Asia & Pacific,Upper middle income,Fiji,National accounts have been revised from 2011 ...,NaN,NaN,NaN
INR,Indian Rupee,India,South Asia,Lower middle income,India,Fiscal year end: March 31,reporting period for national accounts data: ...,the new base year is 2011/12. India reports u...,NaN
IDR,Rupiah,Indonesia,East Asia & Pacific,Lower middle income,Indonesia,Fiscal year end: March 31,reporting period for national accounts data: ...,NaN,NaN
MYR,Malaysian Ringgit,Malaysia,East Asia & Pacific,Upper middle income,Malaysia,NaN,NaN,NaN,NaN
PHP,Philippine Peso,Philippines,East Asia & Pacific,Lower middle income,Philippines,NaN,NaN,NaN,NaN
LKR,Sri Lanka Rupee,Sri Lanka,South Asia,Lower middle income,Sri Lanka,Bureau of Census and Statistics revised nation...,prior to 2010 in producer prices.,NaN,NaN
THB,Baht,Thailand,East Asia & Pacific,Upper middle income,Thailand,Fiscal year end: September 30,reporting period for national accounts data: CY.,NaN,NaN
VND,Vietnamese đồng,Vietnam,East Asia & Pacific,Lower middle income,Vietnam,NaN,NaN,NaN,NaN
BGN,Bulgarian Lev,Bulgaria,Europe & Central Asia,Upper middle income,Bulgaria,The new reference year for chain linked series...,NaN,NaN,NaN
HRK,Croatian Kuna,Croatia,Europe & Central Asia,Upper middle income,Croatia,NaN,NaN,NaN,NaN
HUF,Forint,Hungary,Europe & Central Asia,High income,Hungary,NaN,NaN,NaN,NaN
PLN,Zloty,Poland,Europe & Central Asia,High income,Poland,NaN,NaN,NaN,NaN
RON,Romanian New Leu,Romania,Europe & Central Asia,Upper middle income,Romania,WB-3 code changed from ROM to ROU to align wit...,NaN,NaN,NaN
TRY,New Turkish Lira,Turkey,Europe & Central Asia,Upper middle income,Turkey,NaN,NaN,NaN,NaN
RUB,Russian Ruble,Russia,Europe & Central Asia,Upper middle income,Russian Federation,The new base year is 2011.,NaN,NaN,NaN
DZD,Algerian Dinar,Algeria,Middle East & North Africa,Upper middle income,Algeria,The new base year is 1999.,NaN,NaN,NaN
EGP,Egyptian Pound,Egypt,Middle East & North Africa,Lower middle income,"Egypt, Arab Rep.",Fiscal year end: June 30,reporting period for national accounts data: FY.,NaN,NaN
KWD,Kuwaiti Dinar,Kuwait,Middle East & North Africa,High income,Kuwait,Fiscal year end: June 30,reporting period for national accounts data: CY.,NaN,NaN
MAD,Moroccan Dirham,Morocco,Middle East & North Africa,Lower middle income,Morocco,NaN,NaN,NaN,NaN
PKR,Pakistan Rupee,Pakistan,South Asia,Lower middle income,Pakistan,Fiscal year end: June 30,reporting period for national accounts data: FY.,NaN,NaN
SAR,Saudi Riyal,Saudi Arabia,Middle East & North Africa,High income,Saudi Arabia,Based on data from the Saudi Central Departmen...,NaN,NaN,NaN
TND,Tunisian Dinar,Tunisia,Middle East & North Africa,Lower middle income,Tunisia,NaN,NaN,NaN,NaN
AED,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa,High income,United Arab Emirates,NaN,NaN,NaN,NaN
GHS,Cedi,Ghana,Sub-Saharan Africa,Lower middle income,Ghana,NaN,NaN,NaN,NaN
ZAR,South African Rand,South Africa,Sub-Saharan Africa,Upper middle income,South Africa,Fiscal year end: March 31,reporting period for national accounts data: CY.,NaN,NaN
BRL,Brazilian Real,Brazil,Latin America & Caribbean,Upper middle income,Brazil,NaN,NaN,NaN,NaN
COP,Colombian Peso,Colombia,Latin America & Caribbean,Upper middle income,Colombia,NaN,NaN,NaN,NaN
HNL,Lempira,Honduras,Latin America & Caribbean,Lower middle income,Honduras,NaN,NaN,NaN,NaN
JMD,Jamaican Dollar,Jamaica,Latin America & Caribbean,Upper middle income,Jamaica,NaN,NaN,NaN,NaN
MXN,Mexican Peso,Mexico,Latin America & Caribbean,Upper middle income,Mexico,NaN,NaN,NaN,NaN
PEN,Nuevo Sol,Peru,Latin America & Caribbean,Upper middle income,Peru,NaN,NaN,NaN,NaN
TTD,Trinidad and Tobago Dollar,Trinidad and Tobago,Latin America & Caribbean,High income,Trinidad and Tobago,NaN,NaN,NaN,NaN
UYU,Peso Uruguayo,Uruguay,Latin America & Caribbean,High income,Uruguay,NaN,NaN,NaN,NaN

In [98]:
# Look at the missing regions
codes_df.rename(columns={'Region':'region',
                         'IncomeGroup': 'income_group',
                         'TableName': 'table_name',
                         'SpecialNotes': 'special_notes'}, inplace=True)

In [99]:
codes_df.head()

,name,country,region,income_group,table_name,special_notes,Unnamed: 6,Unnamed: 7,Unnamed: 8
code,,,,,,,,,
EUR,Euro,European Union,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CYP,Cyprus Pound,Cyprus,Europe & Central Asia,High income,Cyprus,A simple multiplier is used to convert the nat...,NaN,NaN,NaN
MTL,Maltese Lira,Malta,Middle East & North Africa,High income,Malta,A simple multiplier is used to convert the nat...,NaN,NaN,NaN
SKK,Slovak Koruna,Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CAD,Canadian Dollar,Canada,North America,High income,Canada,Fiscal year end: March 31,reporting period for national accounts data: CY.,NaN,NaN

In [100]:
codes_df['region'].isnull().sum()

2

In [101]:
codes_df[codes_df['region'].isnull()]

,name,country,region,income_group,table_name,special_notes,Unnamed: 6,Unnamed: 7,Unnamed: 8
code,,,,,,,,,
EUR,Euro,European Union,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SKK,Slovak Koruna,Slovakia,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
regions = codes_df['region'].unique()
regions = regions[1:]
regions

array(['Europe & Central Asia', 'Middle East & North Africa',
       'North America', 'East Asia & Pacific', 'South Asia',
       'Sub-Saharan Africa', 'Latin America & Caribbean'], dtype=object)

In [103]:
len(regions)

7

In [105]:
codes_df.loc['EUR','region'] = regions[0]
codes_df.loc['SKK','region'] = regions[0]

In [106]:
codes_df

,name,country,region,income_group,table_name,special_notes,Unnamed: 6,Unnamed: 7,Unnamed: 8
code,,,,,,,,,
EUR,Euro,European Union,Europe & Central Asia,NaN,NaN,NaN,NaN,NaN,NaN
CYP,Cyprus Pound,Cyprus,Europe & Central Asia,High income,Cyprus,A simple multiplier is used to convert the nat...,NaN,NaN,NaN
MTL,Maltese Lira,Malta,Middle East & North Africa,High income,Malta,A simple multiplier is used to convert the nat...,NaN,NaN,NaN
SKK,Slovak Koruna,Slovakia,Europe & Central Asia,NaN,NaN,NaN,NaN,NaN,NaN
CAD,Canadian Dollar,Canada,North America,High income,Canada,Fiscal year end: March 31,reporting period for national accounts data: CY.,NaN,NaN
HKD,Hong Kong Dollar,Hong Kong,East Asia & Pacific,High income,"Hong Kong SAR, China",On 1 July 1997 China resumed its exercise of s...,NaN,NaN,NaN
CZK,Czech Koruna,Czech Republic,Europe & Central Asia,High income,Czech Republic,NaN,NaN,NaN,NaN
DKK,Danish Krone,Denmark,Europe & Central Asia,High income,Denmark,NaN,NaN,NaN,NaN
ISK,Iceland Krona,Iceland,Europe & Central Asia,High income,Iceland,NaN,NaN,NaN,NaN
ILS,New Israeli Shekel,Israel,Middle East & North Africa,High income,Israel,NaN,NaN,NaN,NaN
JPY,Japanese yen,Japan,East Asia & Pacific,High income,Japan,Fiscal year end: March 31,reporting period for national accounts data: CY.,NaN,NaN
KRW,South Korean Won,South Korea,East Asia & Pacific,High income,"Korea, Rep.",The new base year is 2010. GDP data are availa...,NaN,NaN,NaN
NOK,Norwegian Krone,Norway,Europe & Central Asia,High income,Norway,NaN,NaN,NaN,NaN
SGD,Singapore Dollar,Singapore,East Asia & Pacific,High income,Singapore,Fiscal year end: March 31,reporting period for national accounts data: ...,NaN,NaN
SEK,Swedish Krona,Sweden,Europe & Central Asia,High income,Sweden,Fiscal year end: June 30,reporting period for national accounts data: CY.,NaN,NaN
CHF,Swiss Franc,Switzerland,Europe & Central Asia,High income,Switzerland,NaN,NaN,NaN,NaN
GBP,Pound Sterling,United Kingdom,Europe & Central Asia,High income,United Kingdom,NaN,NaN,NaN,NaN
CNY,Yuan Renminbi,China,East Asia & Pacific,Upper middle income,China,On 1 July 1997 China resumed its exercise of s...,NaN,NaN,NaN
FJD,Fiji Dollar,Fiji,East Asia & Pacific,Upper middle income,Fiji,National accounts have been revised from 2011 ...,NaN,NaN,NaN
INR,Indian Rupee,India,South Asia,Lower middle income,India,Fiscal year end: March 31,reporting period for national accounts data: ...,the new base year is 2011/12. India reports u...,NaN
IDR,Rupiah,Indonesia,East Asia & Pacific,Lower middle income,Indonesia,Fiscal year end: March 31,reporting period for national accounts data: ...,NaN,NaN
MYR,Malaysian Ringgit,Malaysia,East Asia & Pacific,Upper middle income,Malaysia,NaN,NaN,NaN,NaN
PHP,Philippine Peso,Philippines,East Asia & Pacific,Lower middle income,Philippines,NaN,NaN,NaN,NaN
LKR,Sri Lanka Rupee,Sri Lanka,South Asia,Lower middle income,Sri Lanka,Bureau of Census and Statistics revised nation...,prior to 2010 in producer prices.,NaN,NaN
THB,Baht,Thailand,East Asia & Pacific,Upper middle income,Thailand,Fiscal year end: September 30,reporting period for national accounts data: CY.,NaN,NaN
VND,Vietnamese đồng,Vietnam,East Asia & Pacific,Lower middle income,Vietnam,NaN,NaN,NaN,NaN
BGN,Bulgarian Lev,Bulgaria,Europe & Central Asia,Upper middle income,Bulgaria,The new reference year for chain linked series...,NaN,NaN,NaN
HRK,Croatian Kuna,Croatia,Europe & Central Asia,Upper middle income,Croatia,NaN,NaN,NaN,NaN
HUF,Forint,Hungary,Europe & Central Asia,High income,Hungary,NaN,NaN,NaN,NaN
PLN,Zloty,Poland,Europe & Central Asia,High income,Poland,NaN,NaN,NaN,NaN
RON,Romanian New Leu,Romania,Europe & Central Asia,Upper middle income,Romania,WB-3 code changed from ROM to ROU to align wit...,NaN,NaN,NaN
TRY,New Turkish Lira,Turkey,Europe & Central Asia,Upper middle income,Turkey,NaN,NaN,NaN,NaN
RUB,Russian Ruble,Russia,Europe & Central Asia,Upper middle income,Russian Federation,The new base year is 2011.,NaN,NaN,NaN
DZD,Algerian Dinar,Algeria,Middle East & North Africa,Upper middle income,Algeria,The new base year is 1999.,NaN,NaN,NaN
EGP,Egyptian Pound,Egypt,Middle East & North Africa,Lower middle income,"Egypt, Arab Rep.",Fiscal year end: June 30,reporting period for national accounts data: FY.,NaN,NaN
KWD,Kuwaiti Dinar,Kuwait,Middle East & North Africa,High income,Kuwait,Fiscal year end: June 30,reporting period for national accounts data: CY.,NaN,NaN
MAD,Moroccan Dirham,Morocco,Middle East & North Africa,Lower middle income,Morocco,NaN,NaN,NaN,NaN
PKR,Pakistan Rupee,Pakistan,South Asia,Lower middle income,Pakistan,Fiscal year end: June 30,reporting period for national accounts data: FY.,NaN,NaN
SAR,Saudi Riyal,Saudi Arabia,Middle East & North Africa,High income,Saudi Arabia,Based on data from the Saudi Central Departmen...,NaN,NaN,NaN
TND,Tunisian Dinar,Tunisia,Middle East & North Africa,Lower middle income,Tunisia,NaN,NaN,NaN,NaN
AED,United Arab Emirates dirham,United Arab Emirates,Middle East & North Africa,High income,United Arab Emirates,NaN,NaN,NaN,NaN
GHS,Cedi,Ghana,Sub-Saharan Africa,Lower middle income,Ghana,NaN,NaN,NaN,NaN
ZAR,South African Rand,South Africa,Sub-Saharan Africa,Upper middle income,South Africa,Fiscal year end: March 31,reporting period for national accounts data: CY.,NaN,NaN
BRL,Brazilian Real,Brazil,Latin America & Caribbean,Upper middle income,Brazil,NaN,NaN,NaN,NaN
COP,Colombian Peso,Colombia,Latin America & Caribbean,Upper middle income,Colombia,NaN,NaN,NaN,NaN
HNL,Lempira,Honduras,Latin America & Caribbean,Lower middle income,Honduras,NaN,NaN,NaN,NaN
JMD,Jamaican Dollar,Jamaica,Latin America & Caribbean,Upper middle income,Jamaica,NaN,NaN,NaN,NaN
MXN,Mexican Peso,Mexico,Latin America & Caribbean,Upper middle income,Mexico,NaN,NaN,NaN,NaN
PEN,Nuevo Sol,Peru,Latin America & Caribbean,Upper middle income,Peru,NaN,NaN,NaN,NaN
TTD,Trinidad and Tobago Dollar,Trinidad and Tobago,Latin America & Caribbean,High income,Trinidad and Tobago,NaN,NaN,NaN,NaN
UYU,Peso Uruguayo,Uruguay,Latin America & Caribbean,High income,Uruguay,NaN,NaN,NaN,NaN

In [107]:
codes_df.to_csv(DATA_PATH + 'codes_full.csv')

In [108]:
codes_df = codes_df[codes_df.columns[:3]]
print(codes_df.shape)
codes_df.head()

(51, 3)

                 name         country                      region
code
EUR              Euro  European Union       Europe & Central Asia
CYP      Cyprus Pound          Cyprus       Europe & Central Asia
MTL      Maltese Lira           Malta  Middle East & North Africa
SKK     Slovak Koruna        Slovakia       Europe & Central Asia
CAD   Canadian Dollar          Canada               North America

In [109]:
codes_df.to_csv(DATA_PATH + COUNTRY_CODES)

# The preprocessing is done. Let's save all the files in a new folder.

In [110]:
PREPROCESSED = 'preprocessed_data/'
codes_df.to_csv(DATA_PATH + PREPROCESSED + 'codes.csv')
cpi_df.to_csv(DATA_PATH + PREPROCESSED + 'cpi.csv')
rates_df.to_csv(DATA_PATH + PREPROCESSED + 'rates.csv')